{{#extend "default" title="BookChoice" }}
	{{#content "body"}}
		<div class="widget">
			<article class="box content">
				<ol>
					<li><a href="sample.shtml" target="_blank">Home</a></li>
				</ol>
			</article>
		</div>
	{{/content}}
{{/extend}}

